<%= form_with(model: rooms_admin) do |form| %>
  <% if rooms_admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rooms_admin.errors.count, "error") %> prohibited this rooms_admin from being saved:</h2>

      <ul>
        <% rooms_admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
