<!DOCTYPE html>
<html>
  <head>
    <title>Hotel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%if admin_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">My Hotel(Admin)</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews_admin/">Отзывы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rooms_admins/">Номера</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/bookings_admin/">Забронировать</a>
        </li>
        </li>
                <li class="nav-item">
            <%= link_to "Sign out", destroy_admin_session_path, :method => :delete, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<%else %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">My Hotel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/reviews/">Отзывы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rooms/">Номера</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/bookings/">Забронировать</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 <p class="notice"><%= notice %></p>
<%end%>
    <%= yield %>
  </body>
</html>
